<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Daftar Pesanan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/jimbung.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/190d988d17.js" crossorigin="anonymous"></script>

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!-- tambahan -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div th:replace="admin/fragments/admin-nav :: header"></div>
  <div th:replace="admin/fragments/admin-nav :: nav"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Daftar Pesanan</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin/}">Home</a></li>
          <li class="breadcrumb-item">Pesanan</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
               
               <div class="filter">
                  <h5 class="card-title" style="display: inline-flex;">Daftar Pesanan |</h5>
                  <a class="icon" href="#" data-bs-toggle="dropdown">Filter</a>                 
                 
<!--                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>
                    <li><a class="dropdown-item" name="keyword" th:selected="${keyword == ''}">Semua</a></li>
                    <li><a class="dropdown-item" name="keyword" th:selected="${keyword == 'Belum Dibayar'}">Belum Dibayar</a></li>
                    <li><a class="dropdown-item" name="keyword" th:selected="${keyword == 'Belum Dikonfirmasi'}">Belum Dikonfirmasi</a></li>
                    <li><a class="dropdown-item" name="keyword" th:selected="${keyword == 'Sudah Dikonfirmasi'}">Sudah Dikonfirmasi</a></li>
                    <li><a class="dropdown-item" name="keyword" th:selected="${keyword == 'Dalam Proses'}">Dalam Proses</a></li>
                    <li><a class="dropdown-item" name="keyword" th:selected="${keyword == 'Sedang Dikemas'}">Sedang Dikemas</a></li>
                    <li><a class="dropdown-item" name="keyword" th:selected="${keyword == 'Dalam Pengiriman'}">Dalam Pengiriman</a></li>
                    <li><a class="dropdown-item" name="keyword" th:selected="${keyword == 'Selesai'}">Selesai</a></li>
                  </ul>-->
                  <select id="status" class="form-select" onchange="filterOrders()">
                    <option value="">Semua</option>
                    <option value="Belum Dibayar">Belum Dibayar</option>
                    <option value="Belum Dikonfirmasi">Belum Dikonfirmasi</option>
                    <option value="Sudah Dikonfirmasi">Sudah Dikonfirmasi</option>
                    <option value="Dalam Proses">Dalam Proses</option>
                    <option value="Sedang Dikemas">Sedang Dikemas</option>
                    <option value="Dalam Pengiriman">Dalam Pengiriman</option>
                    <option value="Selesai">Selesai</option>
                  </select>
                </div>

               <table class="table table-borderless datatable" id="myTable">
                 <thead>
                   <tr>
                     <th scope="col">Nomor id</th>
                     <th scope="col">Nama</th>
                     <th scope="col">Tanggal Pesan</th>
                     <th scope="col">Total Biaya</th>
                     <th scope="col">Status</th>
                     <th scope="col">Action</th>
                     <th scope="col">Perincian</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr th:each="order, iterStat : ${orders}">
                     <th scope="row" th:text="${order.id}"></th>
                     <td th:text="${order.name}"></td>
                     <td th:text="${order.orderDate}"></td>
                     <td th:text="${order.amountFormatted}"></td>
                     <td><span  th:text="${order.status}" 
                                th:class="${order.status == 'Belum Dibayar' ? 'badge bg-danger' : 
                                (order.status == 'Belum Dikonfirmasi' ? 'badge bg-warning' :
                                (order.status == 'Sudah Dikonfirmasi' ? 'badge bg-secondary' :
                                (order.status == 'Dalam Proses' ? 'badge bg-info text-dark' :
                                (order.status == 'Sedang Dikemas' ? 'badge bg-primary' :
                                (order.status == 'Dalam Pengiriman' ? 'badge bg-light text-dark' : 'badge bg-success')))))}"></span></td>
                     <td>
                      <a href="#" data-toggle="modal" th:data-target="'#editModal-' + ${order.id}"><i class="fa-solid fa-pen-to-square"></i></a> 
                     </td>
                     <td><a th:href="@{/admin/pesanan/detail/{detailId}(detailId=${order.id})}" class="btn btn-primary">Lihat Rincian</a></td>
                    </tr>
                    
                    <!-- Modal edit pesanan-->
                 <div th:each="order : ${orders}">
                    <div class="modal fade" th:id="'editModal-' + ${order.id}" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Header modal -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Status Pesanan</h4>
                                     <button type="button" class="close" data-dismiss="modal">&times;</button> 
                                </div>

                                <!-- Body modal -->
                                <div class="modal-body">
                                    <form th:action="@{'/admin/pesanan/edit/' + ${order.id}}" method="post">
                                        <input type="hidden" name="orderId" th:value="${order.id}" />
                                        <div class="form-group">
                                            <label for="totalAmountFix">Total Biaya</label>
                                            <input type="number" id="totalAmountFix" name="totalAmountFix" th:value="${order.totalAmount}" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="form-control" id="status" name="status" required th:value ="${order.status}">
                                                <option value="">Pilih Status Pesanan</option>
                                                <option value="Belum Dikonfirmasi" th:selected="${order.status == 'Belum Dikonfirmasi'}">Belum Dikonfirmasi</option>
                                                <option value="Belum Dibayar" th:selected="${order.status == 'Belum Dibayar'}">Belum Dibayar</option>
                                                <option value="Sudah Dikonfirmasi" th:selected="${order.status == 'Sudah Dikonfirmasi'}">Sudah Dikonfirmasi</option>
                                                <option value="Dalam Proses" th:selected="${order.status == 'Dalam Proses'}">Dalam Proses</option>
                                                <option value="Sedang Dikemas" th:selected="${order.status == 'Sedang Dikemas'}">Sedang Dikemas</option>
                                                <option value="Dalam Pengiriman" th:selected="${order.status == 'Dalam Pengiriman'}">Dalam Pengiriman</option>
                                            </select>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary mt-2">Simpan</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    <script>
                    function simpanPerubahan() {
                        // Lakukan sesuatu dengan nilai yang diinput
                        var progressValue = document.getElementById("progress").value;
                        var jenisPesananValue = document.getElementById("jenisPesanan").value;

                        // Di sini Anda dapat mengirim data ke server atau melakukan tindakan lain sesuai kebutuhan.

                        // Tutup modal
                        $('#editModal').modal('hide');
                    }
                    </script>-->

                   
                    <!-- Modal konfirmasi hapus pesanan -->
                    <div class="modal fade" id="confirmDeleteModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Header modal -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Konfirmasi Hapus Pesanan</h4>
                                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                </div>

                                <!-- Body modal -->
                                <div class="modal-body">
                                    <p>Apakah anda yakin ingin menghapus pesanan ini?</p>
                                </div>

                                <!-- Footer modal -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                    <button type="button" class="btn btn-danger" onclick="hapusPesanan()">Hapus</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                    function hapusPesanan() {
                        // Lakukan tindakan penghapusan pesanan di sini

                        // Tutup modal
                        $('#confirmDeleteModal').modal('hide');
                    }
                    </script>
                 </div>

                 </tbody>
                </table>
                
                <!--Modal-->
<!--                <div class="modal fade" th:id="'editModal-' + ${order.id}" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                 Header modal 
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Status Pesanan</h4>
                                     <button type="button" class="close" data-dismiss="modal">&times;</button> 
                                </div>

                                 Body modal 
                                <div class="modal-body">
                                    <form th:action="@{'/admin/pesanan/edit/' + ${order.id}}" method="post">
                                        <input type="hidden" name="orderId" th:value="${order.id}" />
                                            <label for="status">Status :</label>
                                            <select class="form-control" id="status" name="status" required>
                                                <option value="Belum Dibayar">Belum Dibayar</option>
                                                <option value="Belum Dikonfirmasi">Belum Dikonfirmasi</option>
                                                <option value="Sudah Dikonfirmasi">Sudah Dikonfirmasi</option>
                                                <option value="Dalam Proses">Dalam Proses</option>
                                                <option value="Sedang Dikemas">Sedang Dikemas</option>
                                                <option value="Dalam Pengiriman">Selesai</option>
                                                <option value="Selesai">Selesai</option>
                                            </select>
                                        <button type="submit" class="btn btn-primary mt-2">Simpan</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>-->
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
   <div class="credits">
     Designed by <a href="">Kelompok 5</a>
   </div>
 </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script>
  function filterOrders() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("status");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0]; // Assuming the status is in the first column, adjust index if needed
      if (td) {
        var statusValue = td.textContent || td.innerText;
        if (filter === "ALL" || statusValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  </script>

  
  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>